@charset "utf8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');


*{margin:0; padding:0;}
ul{list-style: none;}
a{text-decoration:none; color:inherit;}
a,span{display:inline-block;}
input, select , button {
vertical-align:middle; border:0; outline:0; background: transparent; border-radius:0; appearance:none;
}
img{max-width:100%;}
h1,h2,h3,h4,h5,h6{font-weight:inherit; font-style:none;}

.blind{position:absolute; width:1px; height:1px; margin:-1px; overflow:hidden; display:block;}

body{font-family: 'Noto Sans KR', sans-serif; font-size:16px; color:#181818;}
.inner{width:1400px; margin:0 auto; position:relative;}
#header{height:80px; }
#header .logo{margin-top:15px;}
#header .header_flex{display: flex; justify-content: space-between; align-items: center;}
#header .inner .nav{width:49%;}
#header .inner .nav li .click img{width:40px; height:50px; position:absolute; left:70%; top:80px; animation:zoom 2s infinite; }
.inner .gnb li:hover .click{display:none;}
@keyframes zoom{
    0%{transform: scale(100%);}
    50%{transform: scale(150%);}
    100%{transform: scale(100%);}
}
#header .social_wrap{display:flex; width:150px; justify-content: space-between; margin-top:15px;}
#header .social_wrap li{width:50px; font-size:12px; text-align: center;} 
#header .social_wrap li:nth-child(2) span,#header .social_wrap li:nth-child(3) span{margin-left:6px;}

.inner .gnb{display:flex; width:100%; }

.inner .gnb li{position:relative;}
.inner .gnb>li>a{margin-right:52px; width:100%; text-align: center; padding:28px 0; box-sizing: border-box;}
.inner .gnb>li:hover::after{display:block; content:""; width:30px; height:1px; background:#990819; position:absolute; bottom:15px; left:17px; }
.inner .gnb .lnb li:hover::after{display:block; content:""; width:30px; height:1px; background:#990819;  position:absolute; bottom:4px; left:0;}
.inner .gnb li:hover>a{color:#990819;}
.inner .gnb li:hover .lnb{display:block;}

.inner .gnb .lnb{width:208px; height:240px; background:#fff;display:none;position:absolute; bottom:-241px; left:50%; margin-left:-109px; z-index: 101;}
.inner .gnb .lnb li{text-align:left; padding:12px 0; width:50%; margin:0 auto; position:relative;}

#header .ser{ width:15%; margin-top:5px;}
form{display:flex; justify-content:space-between; align-items:center;}
.ser .ser_icon{width:15%; display:inline-block; margin-right:15px;}
.ser .ser_under{border-bottom:1px solid #000; padding:5px 5px; width:85%;}

#visual{ font-family:Arial, Helvetica, sans-serif;}
#visual .visual_txt{position:absolute; left:33%; top:35%; text-align: left; display:inline-block;}
#visual .new{color:#32fc97; background:#000; font-weight:700; display:inline-block; padding:2px 5px;text-align: center; font-size:24px;}
#visual .summer{font-size:30px;margin-top:30px; font-weight:400}
#visual .bring{font-size:48px; font-weight:700;  margin-left:-3px;}

#contents .menu{width:100%; text-align: center;}


#contents .menu .best{font-size:24px; font-weight:700; margin:60px 0 30px;}
#contents .menu .tap_menu{font-size:18px; display:flex; justify-content: space-between;cursor:pointer; width:38%; margin:0 auto 60px;}
.on{font-weight:700; font-size:20px; }
#contents ul{display:none; flex-wrap:wrap; width:100%; margin:0 auto;} 
#contents ul li{width:33%;text-align: center; margin-bottom:60px; overflow: hidden; }
#contents ul li .before_img{position:relative;}
#contents ul li .hover_img{position:absolute; top:-50px ; left:0; transform: translate(130%); transition:1s; width:100%;}
#contents ul li:hover .hover_img {transform: translate(0);}


#contents ul li .cloth_txt h4{text-align: left; font-size:20px;margin-left:30px; margin-top:20px; margin-bottom:10px;}
#contents ul li .price_dis{display:flex; justify-content: space-between; width:79%; margin-left:30px;}
#contents .cloth_txt .price_before{font-size:14px; color:#818181;margin-top:3px; margin-left:-70px; text-decoration:line-through;}
#contents ul li .discount{font-weight: 700;}



#footer{ background:#e0e0e0; color:rgb(36, 36, 36); width:100%;}
#footer .footer_logo{display:inline-block; border-bottom:1px solid rgb(115, 112, 112); padding:22px 80px 30px 0; box-sizing: border-box;}
#footer .f_social{position:absolute; right:0; top:22px; width:200px;}
#footer .f_social img{display:inline-block; margin-left:18px;}
#footer .pcs_info{display:flex; width:360px; justify-content: space-between; align-items:flex-start;}
#footer .pcs_info .pcs{width:40%; }

#footer .pcs_info .pcs a{display:block; border:1px solid #000; padding:5px 15px; text-align: center; margin:11px 0; font-size:14px;}


#footer .pcs_info .info{width:50%; padding-top:11px; font-size:16px;}

#footer .apr{margin-bottom:15px;}
#footer .apr .co{width:600px;}

#footer .copy span{display:block;}